@tailwind base;
@tailwind components;
@tailwind utilities;

// primary: '#020617',
// secondary: '#E5E7EB',
// error: '#DB2777'

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --error: 0 84.2% 60.2%;
    --error-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  @apply p-0 m-0 box-border scroll-smooth;
}

.container {
  @apply px-3;
}

section {
  @apply my-10 lg:my-16;
}

.section {
  @apply py-10 lg:py-16;
}

// headings

h1 {
  @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl font-black;
}

h2 {
  @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-black;
}

h3 {
  @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl font-black;
}

h4 {
  @apply text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl font-black;
}

h5 {
  @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-black;
}

h6 {
  @apply text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl font-black;
}

// button styles and variants
.btn {
  @apply px-2 lg:px-4 py-[0.3rem] lg:py-[0.5rem] rounded-md lg:rounded-lg focus:outline-0 hover:opacity-[80%] transition ease-in-out duration-300 text-[0.8rem] lg:text-[1rem] flex items-center justify-center gap-1;
}

.btn-primary {
  @extend .btn;
  @apply bg-primary text-white dark:bg-white dark:text-black;
}

.btn-secondary {
  @extend .btn;
  @apply bg-secondary;
}

.btn-outline {
  @extend .btn;
  @apply border border-gray-200;
}

.btn-error {
  @extend .btn;
  @apply bg-error text-white;
}

// icon style and variants
.icon {
  @apply hover:opacity-[70%] transition ease-in-out duration-300;
}

.icon-sm {
  @extend .icon;
  @apply text-sm;
}

.icon-base {
  @extend .icon;
  @apply text-lg;
}

.icon-lg {
  @extend .icon;
  @apply text-2xl;
}

// form styles
.form {
  div {
    @apply grid grid-cols-1 gap-1 my-3 relative;

    span {
      @apply text-error font-normal;
    }

    label {
      @apply font-semibold;
    }

    a {
      @apply text-gray-600 dark:text-gray-100  hover:text-gray-400 hover:underline;
    }
  }

  button {
    @apply my-3;
  }

  h6 {
    @apply text-center;
  }
}

input,
textarea {
  @apply border border-gray-200 rounded-lg px-2 py-1 focus:outline-0 focus:shadow-md focus:border-gray-300 dark:bg-[#00000000] dark:shadow-none;
}

// custom scroll bar styles
/* width */
::-webkit-scrollbar {
  @apply w-1 rounded-full;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary rounded-full;
}

// header text animation

.hd-animate {
  @apply animate-text bg-gradient-to-r from-[#00DBD9] via-[#007FEF] to-[#7D27C8] bg-clip-text text-transparent font-black;
}
